<a href="https://colab.research.google.com/github/lukezhou10/bte320/blob/main/bte320notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hello

In [ ]:
1+2

3

In [ ]:
cntr = 1

AND

OR

NOT

In [ ]:
a = True
b = False

a and b
Will return False unless a and b are both True

False

In [ ]:
a = True
b = False

a or b
will return True UNLESS a and b are both False

True

In [ ]:
a = True

not a

False

INPUT (interest = 3%
       principal = 3000
       n=1


PROCESS (principal ( 1 + interest) x number of years

OUTPUT( print(final)

In [ ]:
interest = 3
principal= 3000
n=1
final=principal *(1+interest)**n

print(final)

12000

In [ ]:
print (1,3)

1 3

In [ ]:
print(interest, principal)
print(n)

3 3000
1

In [ ]:
print("interest rate", interest, sep= "=>")
print( "number of years:", n)

interest rate=>3
number of years: 1

SEP will seperate 2 values

In [ ]:
print("interest rate:", interest, end="---")
print("number of years=",n)

interest rate: 3---number of years= 1

In [ ]:
print("interest rate:", interest, sep= ">>>", end="&&&")
print ("number of years=", n)

interest rate:>>>3&&&number of years= 1

In [ ]:
print ("interest rate:", interest, "; number of years =", n)

interest rate: 3 ; number of years = 1

In [ ]:
print("interest rate: {}; number of years = {}" .format(interest, n))

interest rate: 3; number of years = 1

In [ ]:
interest = 3
n = 1
print(f"Interest rate: {interest}; Number of years = {n}")

Interest rate: 3; Number of years = 1

In [ ]:
print("Interest rate: %.2f" % interest)

Interest rate: 3.00

In [ ]:
interest = float(input("Set interest value (%): "))
principal = float(input("enter initial amount on the account ($):"))
n = int(input("Enter number of years:"))

final = principal * (1 + interest/100) ** n

print(f"total amount after {n} years: {final}$")

Set interest value (%): 3
enter initial amount on the account ($):3000
Enter number of years:1
total amount after 1 years: 3090.0$

function input always returns a string by default

WEEK 3 notes

In [ ]:
email = "URGENT!!! Open this link: http://www.spam.org to receive your award!!!"
is_urgent = "URGENT"
has_www = "www."

if is_urgent in email:
  print("Phishing!")
elif has_www in email:
  print("Spam!")
else:
  print("legit")

spam

In [ ]:
from ast import Expression
if condition:
  exprs
  exprs
elif another_conditission
  Expression
  exprs

SyntaxError: incomplete input (ipython-input-2415188279.py, line 2)

In [ ]:
grade = float(input("Enter student grade (0-100)"))

if grade >= 97:
  print("A+")

elif grade >= 93:
  print("A")
elif grade >= 90:
  print("A-")
elif grade >= 87:
  print("B+")
elif grade >= 83:
  print("B")
elif grade >= 80:
  print("B-")
elif grade >= 77:
  print("C+")
elif grade >= 73:
  print("C")
elif grade >= 70:
  print("C-")
elif grade >= 67:
  print("D+")
elif grade >= 63:
  print("D")
elif grade >= 60:
  print("D-")
else:
  print("F")

Enter student grade (0-100)94
A

CONDITION WITHIN A CONDITION
both conditions have to be true for the output to happen

In [ ]:
if cond1:
  if cond2:
    exprs

In [ ]:
email = "URGENT!! Click on the following:  to ..."
is_urgent = "URGENT"
has_www= "www."

if is_urgent in email:
  if has_www in email:
    print("phishing!")
  else:
    print("spam!")
else:
  print("legit!")

spam!

the outer IF has to be false for the outer ELSE to happen

In [ ]:
email = "!! Click on the following:  to ..."
is_urgent = "URGENT"
has_www= "www."

if (is_urgent in email) and (has_www in email):
  print("phishing!")
if (is_urgent in email) and not (has_www in email):
  print("spam!")
if not (is_urgent in email) and (has_www not in email):
  print("legit!")

legit!

In [ ]:
email = "!! Click on the following:  to ..."
is_urgent = "URGENT"
has_www= "www."

if(is_urgent in email) and (has_www in email):
  print("phishing!")
elif is_urgent in email:
  print("spam!")
else:
  print("legit")

legit

In [ ]:
x = 3

if x % 2 ==0:
  print(x, "is even")
else:
  print(x, "is odd")

3 is odd

In [ ]:
x = float(input("Enter a number: "))
print("even" if x % 2 == 0 else "odd")

Enter a number: 5
odd

1 IF per condition

Optional: ELIF, ELSE

ELIF can have as many as you want

ELSE: 0,1

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
op = input("Numerical Operator: ")

if op == "+":
  res = num1 + num2
elif op =="-":
  res = num1 - num2
elif op =="*":
  res = num1 * num2
elif op =="/":
  res = num1 / num2
elif op == "//":
  res = num1 // num2
elif op == "%":
  res = num1 % num2
elif op == "**":
  res = num1 ** num2
else:
  print("Invalid operator")

print(f"result: {res}")

Enter first number: 5
Enter second number: 2
Numerical Operator: *
result: 10.0

In [ ]:
sales = float(input("enter sales value ($):"))

for tax_rate in range(20,50,10):
  Tax_rate= float(input("enter tax rate (%):"))
  cogs = 0.40 * sales
  gross_profit = sales - cogs
  tax = gross_profit * (Tax_rate/100)
  net_income = gross_profit - tax

  print(f"Sales: {sales}$")
  print(f"Cost Of Goods Sold: {cogs}$")
  print(f"gross profit : {gross_profit}$")
  print(f"tax: {tax}$")
  print(f"net income: {net_income}$")
  print(f"tax rate: {tax_rate}$")

enter sales value ($):12000
enter tax rate (%):30
Sales: 12000.0$
Cost Of Goods Sold: 4800.0$
gross profit : 7200.0$
tax: 2160.0$
net income: 5040.0$

range(start,stop,step)

all integers

start

start + step

start + 2 step

... start + step(s) < stop

stop value is NOT part of sequence

for range to be decreasing step value has to be negative

range(5) = 0,1,2,3,4
range(n)

In [ ]:
for variable in sequence:

In [ ]:
for i in range(1,-500,-70):
  print(f"i={i}")

i=1
i=-69
i=-139
i=-209
i=-279
i=-349
i=-419
i=-489

In [ ]:
for i in range(1,9,1):
  x = (2.5 * i) + 5
  print(f"{i}=${x}")

1=$7.5
2=$10.0
3=$12.5
4=$15.0
5=$17.5
6=$20.0
7=$22.5
8=$25.0

In [ ]:
print("Hours Fee")
for Hours in range(1,9):
  Fee = 5 + (2.5 * Hours)
  if Fee < 10:
    Fee = 10
  elif Fee > 20:
    Fee = 20

  print(f"{Hours}     ${Fee}")

Hours Fee
1     $10
2     $10.0
3     $12.5
4     $15.0
5     $17.5
6     $20.0
7     $20
8     $20

In [ ]:
for x in range(3):
  print(x**2)

0
1
4

In [ ]:
x = 0
while x < 3:
  print(x**2)
  x += 1 # or x = x + 1

0
1
4

WEEK 5

In [ ]:
check = input("Print greeting (y/n)? ")
while check == 'y':
  name = input('enter a name: ')
  print(f"hello, {name}")
  check = input("Do you want to continue? (y/n)?")

In [ ]:
stop = 0
while True:
  print("this will run forever", stop)
  if stop == 5:
    break
  stop += 1
print(stop)

this will run forever 0
this will run forever 1
this will run forever 2
this will run forever 3
this will run forever 4
this will run forever 5
5

In [ ]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [ ]:
hours = 1
base_fee = 5.00
hourly_rate = 2.50

print("Hours   Fee")
while hours <= 8:
  fee = base_fee + (hourly_rate * hours)
  print(f"{hours:<7} ${fee:.2f}")
  hours += 1

Hours   Fee
1       $7.50
2       $10.00
3       $12.50
4       $15.00
5       $17.50
6       $20.00
7       $22.50
8       $25.00

In [ ]:
"String"
"hasfiohfpaoe"
"5 235ewrs"

In [ ]:
s = "This is a string"

In [ ]:
s = "This is a string"
len(s)

16

In [ ]:
"This is" + " a string"

'This is a string'

In [ ]:
3 * "abc"

'abcabcabc'

In [ ]:
print(s)

This is a string

In [ ]:
s[6] # returns the 7th character

's'

In [ ]:
"hello"[4]

'o'

In [ ]:
"hello"[-1]

'o'

In [ ]:
"hello"[4] == "hello"[-1]

True

In [ ]:
s[len(s)-1]

'g'

In [ ]:
s[15] == s[len(s)-1] == s[-1]

True

In [ ]:
s[0:4]

'This'

In [ ]:
s[:] == s[0:len(s)]

True

In [ ]:
date = input("Enter date (mm/dd/yyyy):")
print(date)
print(f"Day: {date[3:5]}")
print(f"Month: {date[0:2]}")
print(f"Year: {date[6:10]}")

Enter date (mm/dd/yyyy):02/14/2005
02/14/2005
Day: 14
Month: 02
Year: 2005

In [ ]:
h = "hello"
for idx in range(0,len(h),1):
  print(h[idx])

h
e
l
l
o

In [ ]:
for char in h:
  print(char)

h
e
l
l
o

WEEK 6

In [ ]:
len([1,5,4, "yooooo",True, print])

6

In [ ]:
[1,2,3] + [5,6,7]

[1, 2, 3, 5, 6, 7]

In [ ]:
2 * ['a','b']

['a', 'b', 'a', 'b']

In [ ]:
L = [1,'two', [5,7,'asdf'], True, print]
L[1] = 125
print(L)

[1, 125, [5, 7, 'asdf'], True, <built-in function print>]

In [ ]:
h = "hello"
h[1]

In [ ]:
for idx in range(len(L)):
  print(L[idx])

1
125
[5, 7, 'asdf']
True
<built-in function print>

In [ ]:
for item in L:
  print(item)

1
125
[5, 7, 'asdf']
True
<built-in function print>

In [ ]:
L = [1, 'two', [5,7,'asdf'], True, print]

In [ ]:
L.append([5,6,7])

In [ ]:
print(L)

[1, 'two', [5, 7, 'asdf'], True, <built-in function print>, 5, [5, 6, 7], [5, 6, 7], [5, 6, 7]]

In [ ]:
L = [1, 'two', [5,7,'asdf'], True, print]

In [ ]:
L.extend([5,6,7])

In [ ]:
print(L)
print(len(L))

[1, 'two', [5, 7, 'asdf'], True, <built-in function print>, 5, 6, 7]
8

In [ ]:
L = [1,'two', [5,7,'asdf'], True, print]
print(len(L))

5

In [ ]:
L.pop(0)
print(L)
print(len(L))

['two', [5, 7, 'asdf'], True, <built-in function print>]
4

In [ ]:
p = [5,1,9,0,3,7,2]
p.sort(reverse=True)
print(p)

[9, 7, 5, 3, 2, 1, 0]