<a href="https://colab.research.google.com/github/lukezhou10/bte320/blob/main/In_class_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sales = float(input("enter sales value ($):"))
Tax_rate= float(input("enter tax rate (%):"))
cogs = 0.40 * sales
gross_profit = sales - cogs
tax = gross_profit * (Tax_rate/100)
net_income = gross_profit - tax

print(f"Sales: {sales}$")
print(f"Cost Of Goods Sold: {cogs}$")
print(f"gross profit : {gross_profit}$")
print(f"tax: {tax}$")
print(f"net income: {net_income}$")

In [ ]:
x = int(input("enter number here: "))
y = int(input("enter number here: "))
z = (input("enter operator: "))

if z =="+":
  answer = x + y
elif z == "-":
  answer = x - y
elif z == "*":
  answer = x * y
elif z == "/":
  answer = x / y
else:
  print("invalid operator")
print(answer)

enter number here: 3
enter number here: 4
enter operator: -
-1

In [ ]:
for i in range(1,9,1):
  x = (2.5 * i) + 5
  print(f"{i}=${x}")

1=$7.5
2=$10.0
3=$12.5
4=$15.0
5=$17.5
6=$20.0
7=$22.5
8=$25.0

In [1]:
print("Hours Fee")
for Hours in range(1,9):
  Fee = 5 + (2.5 * Hours)
  if Fee < 10:
    Fee = 10
  elif Fee > 20:
    Fee = 20

  print(f"{Hours}     ${Fee}")

Hours Fee
1     $10
2     $10.0
3     $12.5
4     $15.0
5     $17.5
6     $20.0
7     $20
8     $20

In [ ]:
ad = 10
for ad in range(0,201,25):
  profit = 2 * (ad)**1/2 -200
  print(f"{ad} {profit}")

0 -200.0
25 -175.0
50 -150.0
75 -125.0
100 -100.0
125 -75.0
150 -50.0
175 -25.0
200 0.0

In [ ]:
ticket_price = 10
defaultaudience = 20
print("Ad$\tProfit")
for admoney in range(0,201,25):
  revenue = (defaultaudience + round(2 * admoney ** 0.5)) * ticket_price
  costs = 200 + admoney
  profit = revenue - costs
  print(f"{admoney} \t {profit}")

Ad$	Profit
0 	 0
25 	 75
50 	 90
75 	 95
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [2]:
print("Hours Fee")
Hours = 1
while Hours < 9:
  Fee = 5 + (2.5 * Hours)
  if Fee < 10:
    Fee = 10
  elif Fee > 20:
    Fee = 20
  Hours += 1
  print(f"{Hours}     ${Fee}")

Hours Fee
2     $10
3     $10.0
4     $12.5
5     $15.0
6     $17.5
7     $20.0
8     $20
9     $20

In [3]:
ticket_price = 10
defaultaudience = 20
admoney = 0
print("Ad$\tProfit")
while admoney < 201:
  revenue = (defaultaudience + round(2 * admoney ** 0.5)) * ticket_price
  costs = 200 + admoney
  profit = revenue - costs
  print(f"{admoney} \t {profit}")

  admoney += 25

Ad$	Profit
0 	 0
25 	 75
50 	 90
75 	 95
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80